
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/Templates/images/bg-title-page-03.jpg);">
	<h2 class="tit6 t-center">
		HAKKIMIZDA
	</h2>
</section>


<!-- Our Story -->
<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
	<span class="tit2 t-center">
		Laura Restaurant
	</span>

	<h3 class="tit3 t-center m-b-35 m-t-5">
		HİKAYEMİZ
	</h3>

	<p class="t-center size32 m-l-r-auto" style="text-align: justify;">
		Laura Restaurant olarak, misafirlerimize sadece bir yemek deneyimi değil, aynı zamanda unutulmaz anılar sunmayı hedefliyoruz. Güneşin doğuşundan gün batımına kadar özenle seçilmiş malzemelerle hazırlanan yemeklerimiz, damaklarda unutulmaz bir tat bırakmak için ustalıkla hazırlanır.
	</p>
	<br />

	<p class="t-center size32 m-l-r-auto" style="text-align: justify;">
		Sıcak atmosferimiz, modern dekorasyonumuz ve güler yüzlü ekibimizle Laura Restaurant, hem keyifli bir yemek hem de samimi bir ortam arayanlar için ideal bir adrestir. Özel günlerinizde, iş toplantılarınızda ya da sevdiklerinizle güzel bir yemek paylaşmak istediğinizde size kusursuz bir deneyim sunmak için buradayız.
	</p>
	<br />

	<p class="t-center size32 m-l-r-auto" style="text-align: justify;">
		Laura Restaurant, yalnızca lezzetlerin değil aynı zamanda sevginin, dostluğun ve paylaşımın buluştuğu bir yerdir. Sizleri aramızda görmekten mutluluk duyacağız.
	</p>
	<br />

	<p class="t-center size32 m-l-r-auto" style="text-align: justify;">
		Lezzetle buluşmak için doğru yerdesiniz. <b>Laura Restaurant’a</b> hoş geldiniz!
	</p>
</section>


