@{
	ViewData["Title"] = "Laura Restaurant";
	Layout = "~/Views/Shared/_ALayout.cshtml";
}

<!-- Slide1 -->
<section class="section-slide">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1 item1-slick1" style="background-image: url(/Templates/images/slide1-01.jpg);">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
					<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
						Hoşgeldiniz
					</span>

					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
						Laura Restaurant
					</h2>

					<div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
						<!-- Button1 -->
						<a asp-area="Customer" asp-controller="Home" asp-action="Menu" class="btn1 flex-c-m size1 txt3 trans-0-4">
							Menü
						</a>
					</div>
				</div>
			</div>

			<div class="item-slick1 item2-slick1" style="background-image: url(/Templates/images/master-slides-02.jpg);">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
					<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rollIn">
						Hoşgeldiniz
					</span>

					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
						Laura Restaurant
					</h2>

					<div class="wrap-btn-slide1 animated visible-false" data-appear="slideInUp">
						<!-- Button1 -->
						<a asp-area="Customer" asp-controller="Home" asp-action="Menu" class="btn1 flex-c-m size1 txt3 trans-0-4">
							Menü
						</a>
					</div>
				</div>
			</div>

			<div class="item-slick1 item3-slick1" style="background-image: url(/Templates/images/master-slides-01.jpg);">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
					<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
						Hoşgeldiniz
					</span>

					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
						Laura Restaurant
					</h2>

					<div class="wrap-btn-slide1 animated visible-false" data-appear="rotateIn">
						<!-- Button1 -->
						<a asp-area="Customer" asp-controller="Home" asp-action="Menu" class="btn1 flex-c-m size1 txt3 trans-0-4">
							Menü
						</a>
					</div>
				</div>
			</div>

		</div>

		<div class="wrap-slick1-dots"></div>
	</div>
</section>


<!-- Lunch -->
<section class="section-lunch bgwhite">
	<div class="container">
		<div class="row p-t-50">
			<div class="col-12 text-center m-b-50">
				<h2 class="special-title">SPESİYALLER</h2>
			</div>
			<div class="col-md-8 col-lg-6 m-l-r-auto">
				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-01.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							IZGARA KALAMAR
						</a>

						<span class="txt23">
							Taze yeşil kuşkonmaz ve sakız kabağı ile ızgara kalamar
						</span>

						<span class="txt22 m-t-20">
							800 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-02.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							DENİZ ÜRÜNLÜ LİNGUİNE 
						</a>

						<span class="txt23">
							Kremalı sosta karides, kalamar ve midyeyle pişirilmiş linguine
						</span>

						<span class="txt22 m-t-20">
							800 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-03.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							YEŞİL ELMALI ROKA SALATASI
						</a>

						<span class="txt23">
							Narenciye ve çıtır kaplamalı yumurta ile
						</span>

						<span class="txt22 m-t-20">
							420 TL
						</span>
					</div>
				</div>
			</div>

			<div class="col-md-8 col-lg-6 m-l-r-auto">
				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-04.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							LEVREK CEVİCHE 
						</a>

						<span class="txt23">
							Biber ve narenciye ile marine edilmiş levrek filetosu
						</span>

						<span class="txt22 m-t-20">
							500 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-05.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							SARIMSAKLI MİDYE SOTE
						</a>

						<span class="txt23">
							Limon ve taze baharatlar ile
						</span>

						<span class="txt22 m-t-20">
							580 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-06.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							ÇİLEKLİ PASTA
						</a>

						<span class="txt23">
							Vanilyalı pandispanya ve orman meyveleri sosu ile
						</span>

						<span class="txt22 m-t-20">
							300 TL
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


