@{
	ViewData["Title"] = "Menü";
	Layout = "~/Views/Shared/_ALayout.cshtml";
}

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/Templates/images/bg-event-03.jpg);">
	<h2 class="tit6 t-center">
		MENÜ LİSTESİ
	</h2>
</section>

<!-- Lunch -->
<section class="section-lunch bgwhite">
	<div class="container">
		<div class="row p-t-50">
			<div class="col-md-8 col-lg-6 m-l-r-auto">
				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-01.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							IZGARA KALAMAR
						</a>

						<span class="txt23">
							Taze yeşil kuşkonmaz ve sakız kabağı ile ızgara kalamar
						</span>

						<span class="txt22 m-t-20">
							800 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-02.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							DENİZ ÜRÜNLÜ LİNGUİNE 
						</a>

						<span class="txt23">
							Kremalı sosta karides, kalamar ve midyeyle pişirilmiş linguine
						</span>

						<span class="txt22 m-t-20">
							800 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-03.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							YEŞİL ELMALI ROKA SALATASI
						</a>

						<span class="txt23">
							Narenciye ve çıtır kaplamalı yumurta ile
						</span>

						<span class="txt22 m-t-20">
							420 TL
						</span>
					</div>
				</div>
				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-04.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							LEVREK CEVİCHE 
						</a>

						<span class="txt23">
							Biber ve narenciye ile marine edilmiş levrek filetosu
						</span>

						<span class="txt22 m-t-20">
							500 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-05.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							SARIMSAKLI MİDYE SOTE
						</a>

						<span class="txt23">
							Limon ve taze baharatlar ile
						</span>

						<span class="txt22 m-t-20">
							580 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/lunch-06.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							ÇİLEKLİ PASTA
						</a>

						<span class="txt23">
							Vanilyalı pandispanya ve orman meyveleri sosu ile
						</span>

						<span class="txt22 m-t-20">
							300 TL
						</span>
					</div>
				</div>
			</div>

			<div class="col-md-8 col-lg-6 m-l-r-auto">
				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/dinner-01.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							IZGARA BONFİLE
						</a>

						<span class="txt23">
							Demi glace sosu ve patates püresi eşliğinde
						</span>

						<span class="txt22 m-t-20">
							900 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/dinner-02.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							KAHVE KAPLI ACILI TAVUK BUT 
						</a>

						<span class="txt23">
							Çıtır tatlı patates ve sumaklı yoğurt aioli ile
						</span>

						<span class="txt22 m-t-20">
							650 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/dinner-03.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							AKDENİZ USULÜ SALATA 
						</a>

						<span class="txt23">
							Izgara ahtapot ile
						</span>

						<span class="txt22 m-t-20">
							500 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/dinner-04.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							ISPANAK VE MANTARLI RULO LAZANYA 
						</a>

						<span class="txt23">
							Rokfor sos ve üzerine domates sos ile
						</span>

						<span class="txt22 m-t-20">
							550 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/dinner-05.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							BRUSCHETTA 
						</a>

						<span class="txt23">
							Kuru domatesli ve peynirli
						</span>

						<span class="txt22 m-t-20">
							420 TL
						</span>
					</div>
				</div>

				<!-- Block3 -->
				<div class="blo3 flex-w flex-col-l-sm m-b-30">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
						<a><img src="/Templates/images/dinner-06.jpg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size21 flex-col-l-m">
						<a class="txt21 m-b-3">
							APPLE MOUSSE
						</a>

						<span class="txt23">
							Karamelize elma ve ballı gevrek ile
						</span>

						<span class="txt22 m-t-20">
							300 TL
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
